@model ticketManager.Models.Ticket
@{
    ViewBag.Title = "Main Page";
}


<div class="container col-md-10">
    <br />
    <div class="row ">
        <div class="col-md-12">
            <div id="PlaceHolderHere"></div>


            @if (!this.User.IsInRole("Manager"))
            {
                <div class="col-auto">
                    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addTicket" onclick="/Home/NewTicket">Create</button>
                </div>
            }



            <!-- modal form for creating new ticket-->
            <div class="modal fade" id="addTicket" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content col-md-8">


                        <div class="modal-body">
                            @Html.Partial("_NewTicketPart")
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- ticket table -->
    @if (false)
    {
        <h3>NO RECORD </h3>
    }
    else
    {
        
        Html.RenderAction("listOfTicket", "Home");
    }
    

</div>

